@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #fffdf9;
  --foreground: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

::selection {
  background-color: #FFD100;
  color: #000000;
}
